ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__Postgres=Host=localhost;Port=5432;Database=nestystay;Username=nestystay;Password=nestystay
Integrations__EkycPrimary=AlibabaCloud
Integrations__PaymentPrimary=Stripe
Integrations__StoragePrimary=CloudflareR2
Integrations__InsurancePrimary=InsuraGuest
